.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.container button {
    border: none;
    outline: none;
    opacity: 1;
    font-weight: 100;
    border-radius: 10rem;
    width: 50%;
    height: 3rem;
    margin: 1rem auto;
    cursor: pointer;
    background-color: #e7292e;
    font-weight: bold;
    font-size: 1rem;
}
.container button:hover {
    opacity: 0.8;
    cursor: pointer;
}